<div class="test-wrapper">
  <div class="row" style="margin: 10px 0px 0px 0px;">

    <div class="col-md-4" style="padding-right: 0px; margin-bottom: 10px">
      <div class="div" style="border: 1px solid #dfdfdf; background-color: white; height: 100%; padding: 10px;">
        TEST
      </div>
    </div>

    <div class="col-md-8">

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
          <div class="card">
            <div class="card__header">
              <h4 class="card__title">Card Title</h4>
              <div class="card__subtitle">Card Subtitle</div>
            </div>
            <div class="card__body">
              <div class="responsive-table">
                <table class="table table--selectable">
                  <thead>
                    <tr>
                      <th class="sortable">Header 1 <span class="sort-indicator icon-chevron-down"></span></th>
                      <th>Header 2</th>
                      <th>Header 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Row 1, Column 1 <a href="javascript:;">link</a></td>
                      <td>Row 1, Column 2 <a href="javascript:;">link</a></td>
                      <td>Row 1, Column 3 <a href="javascript:;">link</a></td>
                    </tr>
                    <tr>
                      <td>ACTIVE</td>
                      <td>Row 2, Column 2</td>
                      <td>Row 2, Column 3</td>
                    </tr>
                    <tr>
                      <td>Row 3, Column 1</td>
                      <td>Row 3, Column 2</td>
                      <td>Row 3, Column 3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card__footer">
              <a href="javascript:;">Link</a>
              <a href="javascript:;" class="half-margin-left">Another Link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
          <div class="card">
            <div class="card__header">
              <h4 class="card__title">Card Title</h4>
              <div class="card__subtitle">Card Subtitle</div>
            </div>
            <div class="card__body">
              <div class="responsive-table">
                <table class="table table--selectable">
                  <thead>
                    <tr>
                      <th class="sortable">Header 1 <span class="sort-indicator icon-chevron-down"></span></th>
                      <th>Header 2</th>
                      <th>Header 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Row 1, Column 1 <a href="javascript:;">link</a></td>
                      <td>Row 1, Column 2 <a href="javascript:;">link</a></td>
                      <td>Row 1, Column 3 <a href="javascript:;">link</a></td>
                    </tr>
                    <tr>
                      <td>ACTIVE</td>
                      <td>Row 2, Column 2</td>
                      <td>Row 2, Column 3</td>
                    </tr>
                    <tr>
                      <td>Row 3, Column 1</td>
                      <td>Row 3, Column 2</td>
                      <td>Row 3, Column 3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card__footer">
              <a href="javascript:;">Link</a>
              <a href="javascript:;" class="half-margin-left">Another Link</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
