<div class="component-wrapper">

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small" style="justify-content: center; align-items: center;">

        <div class="ntp-wrapper" style="min-width: 300px;">
          <div class="form-group input--compressed">
            <div class="form-group__text">
              <input id="input-layout-inline" type="text">
              <label for="input-layout-inline">Contact</label>
            </div>
          </div>
          <div class="form-group input--compressed">
            <div class="form-group__text">
              <input id="input-layout-inline" type="text">
              <label for="input-layout-inline">Location</label>
            </div>
          </div>
          <div (click)="toggleEPGMenu()" class="form-group dropdown input--compressed" [ngClass]="{'active': epgMenuOpen }">
            <div class="form-group__text select">
              <input id="select-epg" value="{{ epgValue }}">
              <label for="select-epg">Management EPG</label>
            </div>
            <div class="dropdown__menu">
              <a (click)="setEPGValue('In-Band')">In-Band</a>
              <a (click)="setEPGValue('Out-of-Band')">Out-of-Band</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">
        
        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>SNMP Users</span>
            </div>
            <div class="ntp-controls-item">
              <span (click)="toggleModal();" class="icon-add icon-small"></span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteUsers()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>
        
          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByUser()">Name <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable" (click)="sortByVersion()">Version <span class="sort-indicator icon-chevron-down"></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(snmpUser)" *ngFor="let snmpUser of fakeSNMPs.users" [ngClass]="{'active': snmpUser.active }">
                    <td>{{ snmpUser.name }}</td>
                    <td>{{ snmpUser.version }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small">

        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>Subnets</span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-add icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteSubnets()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>
        
          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByIP(fakeSubnets)">Subnet <span class="sort-indicator icon-chevron-down"></span></th>
                    <th>Mask</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(subnet)" *ngFor="let subnet of fakeSubnets" [ngClass]="{'active': subnet.active }">
                    <td>{{ subnet.ip }}</td>
                    <td>{{ subnet.mask }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">

        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>Trap Servers</span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-add icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteTraps()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>

          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByIP(fakeTraps)">Hostname/IP <span class="sort-indicator icon-chevron-down"></span></th>
                    <th>Port</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(trap)" *ngFor="let trap of fakeTraps" [ngClass]="{'active': trap.active }">
                    <td>{{ trap.ip }}</td>
                    <td>{{ trap.port }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal modal--small" [ngClass]="{'hide': !modalOpen }">
  <div class="modal__dialog">
    <div class="modal__content" style="border: #dfdfdf 1px solid;">
      <a class="modal__close" (click)="toggleModal();"><span class="icon-close icon-medium"></span></a>

      <form autocomplete="off" [formGroup]="snmpForm" (ngSubmit)="onSubmit()">
        <div class="modal__header">
          <h1 class="modal__title" style="font-size: 40px;">SNMP User Config</h1>
        </div>
        <div class="modal__body">

          <div class="snmp-form">
            <div class="row">

              <div class="col-2"></div>
              <div class="col-8">
                <label class="switch" style="justify-content: center;">
                  <input formControlName="v3" type="checkbox">
                  <span class="switch__label">V2</span>
                  <span class="switch__input"></span>
                  <span class="switch__label">V3</span>
                </label>
                <div class="divider"></div>
              </div>
              <div class="col-2"></div>

              <div class="col-3"></div>
              <div class="col-6" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="form-group input--compressed">
                  <div class="form-group__text">
                    <input formControlName="name" id="input-size-compressed" type="text">
                    <label for="input-size-compressed">Name</label>
                  </div>
                </div>

                <label style="padding-top: 20px;">Privacy Type</label>
                <div class="btn-group" style="padding-top: 20px;">
                  <button type="button" (click)="setPrivacy('aes');" class="btn btn--small btn--primary-ghost" [ngClass]="{'selected': snmpForm.get('privType').value == 'aes' }">AES-128</button>
                  <button type="button" (click)="setPrivacy('des');" class="btn btn--small btn--primary-ghost" [ngClass]="{'selected': snmpForm.get('privType').value == 'des' }">DES</button>
                  <button type="button" (click)="setPrivacy('none');" class="btn btn--small btn--primary-ghost" [ngClass]="{'selected': snmpForm.get('privType').value == 'none' }">None</button>
                </div>

                <div class="form-group input--compressed" style="padding-top: 20px;" *ngIf="snmpForm.get('privType').value != 'none'">
                  <div class="form-group__text">
                    <input formControlName="privKey" id="input-size-compressed" type="text">
                    <label for="input-size-compressed">Privacy Key</label>
                  </div>
                </div>

                <label style="padding-top: 20px;">Authorization Type</label>
                <div class="btn-group" style="padding-top: 20px;">
                  <button type="button" (click)="setAuth('md5');" class="btn btn--small btn--primary-ghost" [ngClass]="{'selected': snmpForm.get('authType').value == 'md5' }">MD5</button>
                  <button type="button" (click)="setAuth('sha1');" class="btn btn--small btn--primary-ghost" [ngClass]="{'selected': snmpForm.get('authType').value == 'sha1' }">SHA1</button>
                </div>

                <div class="form-group input--compressed" style="padding-top: 20px;">
                  <div class="form-group__text">
                    <input formControlName="authKey" id="input-size-compressed" type="text">
                    <label for="input-size-compressed">Authorization Key</label>
                  </div>
                </div>

              </div>
              <div class="col-3"></div>

            </div>
          </div>

        </div>
        <div class="modal__footer">
          <button type="submit" class="btn btn--success" (click)="onSubmit();">Apply</button>
          <button type="button" class="btn btn--negative" (click)="toggleModal();">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>
