.ntp-wrapper {
  display: flex;
  flex-direction: column;
}

.ntp-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ntp-controls-title {
  font-weight: bold;
  font-style: italic;
  color: #017CAD;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
}

.ntp-controls-item {
  padding-right: 5px;
  padding-left: 5px;
}

.ntp-controls-item > a {
  text-decoration: none;
}

.table-wrapper {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.responsive-table {
  overflow: unset;
  display: flex;
}

thead th {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.clickable {
  cursor: pointer;
}

input[type=text] {
  border-top: unset !important;
  border-right: unset !important;
  border-left: unset !important;
  text-align: center;
}

input[type=text]:hover {
  box-shadow: unset !important;
}

input[type=text]:focus {
  box-shadow: unset !important;
}

#select-epg {
  text-align: center;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

label {
  color: #017CAD;
  text-align: center !important;
}

// FROM FOUR-PANEL TEMPLATE //

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-panel {
  display: flex;
  width: 100%;
  padding: 10px;
}

.half-panel {
  display: flex;
  width: 50%;
  padding: 10px;
}

.dual-panel {
  display: flex;
  flex-direction: row;
}

.panel-right {
  padding-left: 10px;
}

.panel-left {
  padding-right: 10px;
}

.panel {
  display: flex;
  width: 100%;
  height: 100%;
}

//////////////////////////////
