<div class="component-wrapper">

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small" style="justify-content: center; align-items: center;">

        <div class="ntp-wrapper" style="min-width: 300px;">
          <div class="form-group input--compressed">
            <div class="form-group__text">
              <input id="input-layout-inline" type="text">
              <label for="input-layout-inline">Contact</label>
            </div>
          </div>
          <div class="form-group input--compressed">
            <div class="form-group__text">
              <input id="input-layout-inline" type="text">
              <label for="input-layout-inline">Location</label>
            </div>
          </div>
          <div (click)="toggleEPGMenu()" class="form-group dropdown input--compressed" [ngClass]="{'active': epgMenuOpen }">
            <div class="form-group__text select">
              <input id="select-epg" value="{{ epgValue }}">
              <label for="select-epg">Management EPG</label>
            </div>
            <div class="dropdown__menu">
              <a (click)="setEPGValue('In-Band')">In-Band</a>
              <a (click)="setEPGValue('Out-of-Band')">Out-of-Band</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">
        
        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>SNMP Users</span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-add icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteUsers()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>
        
          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByUser()">Name <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable" (click)="sortByVersion()">Version <span class="sort-indicator icon-chevron-down"></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(snmpUser)" *ngFor="let snmpUser of fakeSNMPs.users" [ngClass]="{'active': snmpUser.active }">
                    <td>{{ snmpUser.name }}</td>
                    <td>{{ snmpUser.version }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small">

        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>Subnets</span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-add icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteSubnets()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>
        
          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByIP(fakeSubnets)">Subnet <span class="sort-indicator icon-chevron-down"></span></th>
                    <th>Mask</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(subnet)" *ngFor="let subnet of fakeSubnets" [ngClass]="{'active': subnet.active }">
                    <td>{{ subnet.ip }}</td>
                    <td>{{ subnet.mask }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">

        <div class="ntp-wrapper">
          <div class="ntp-controls">
            <div class="ntp-controls-title">
              <span>Trap Servers</span>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-add icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <a href="javascript:;"><span class="icon-pencil icon-small"></span></a>
            </div>
            <div class="ntp-controls-item">
              <span (click)="deleteTraps()" class="icon-remove icon-small clickable"></span>
            </div>
          </div>

          <div class="table-wrapper">
            <div class="responsive-table">
              <table class="table table--fixed table--selectable">
                <thead>
                  <tr>
                    <th class="sortable" (click)="sortByIP(fakeTraps)">Hostname/IP <span class="sort-indicator icon-chevron-down"></span></th>
                    <th>Port</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="toggleActive(trap)" *ngFor="let trap of fakeTraps" [ngClass]="{'active': trap.active }">
                    <td>{{ trap.ip }}</td>
                    <td>{{ trap.port }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
