<div class="component-wrapper">

  <div class="full-panel h-100">
    <div class="panel panel--raised-small">

      <div class="oob-wrapper">
        <form class="oob-form" [formGroup]="oobMgmtForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-md-center">
            <div class="col-md-12">
              <label class="switch" style="justify-content: center;">
                <input formControlName="v6" type="checkbox">
                <span class="switch__label hidden-xs">Configure IPv6</span>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>

          <div style="width: 100%; padding-top: 25px; display: flex; flex-direction: column; justify-content: center;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
              <div style="display: flex; font-weight: bold;">IPv4 Gateway</div>

              <div class="form-group input--compressed">
                <div class="form-group__text">
                  <input formControlName="ipv4_gw" id="input-size-compressed" type="text" placeholder="x.x.x.x" style="width: 150px !important;">
                </div>
              </div>

              <div style="display: flex; font-weight: bold; padding-left: 10px;">IPv4 Mask</div>

              <div class="form-group input--compressed">
                <div class="form-group__text">
                  <input formControlName="ipv4_mask" id="input-size-compressed" type="text" placeholder="x" style="width: 50px !important;">
                </div>
              </div>
            </div>

            <ng-container *ngIf="oobMgmtForm.get('v6').value">
              <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 15px;">
                <div style="display: flex; font-weight: bold;">IPv6 Gateway</div>

                <div class="form-group input--compressed">
                  <div class="form-group__text">
                    <input formControlName="ipv6_gw" id="input-size-compressed" type="text" placeholder="::" style="width: 150px !important;">
                  </div>
                </div>

                <div style="display: flex; font-weight: bold; padding-left: 10px;">IPv6 Mask</div>

                <div class="form-group input--compressed">
                  <div class="form-group__text">
                    <input formControlName="ipv6_mask" id="input-size-compressed" type="text" placeholder="x" style="width: 50px !important;">
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-12">
              <div class="responsive-table" style="margin-top: 25px;">
                <table class="table table--nostripes oob-table">
                  <thead>
                    <tr>
                      <th>Node ID</th>
                      <th>IPv4 Address</th>
                      <ng-container *ngIf="oobMgmtForm.get('v6').value">
                        <th>IPv6 Address</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="nodes">
                      <tr *ngFor="let item of formNodes.controls; let i = index;">
                        <ng-container [formGroupName]="i">
                          <td style="text-align: center;">{{ item.get('id').value }}</td>
                          <td><input class="oob-input" formControlName="ipv4Addr" placeholder="x.x.x.x"></td>
                          <ng-container *ngIf="oobMgmtForm.get('v6').value">
                            <td><input class="oob-input" formControlName="ipv6Addr" placeholder="::"></td>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
