<div class="vlan-wrapper">
  <div class="vlan-controls">
    <div class="vlan-controls-item">
      <button class="btn btn--icon btn--small btn--success"><span class="icon-plus"></span></button>
    </div>
    <div class="vlan-controls-item">
      <button class="btn btn--icon btn--small btn--primary"><span class="icon-pencil"></span></button>
    </div>
    <div class="vlan-controls-item">
        <button class="btn btn--icon btn--small btn--negative"><span class="icon-remove"></span></button>
      </div>
  </div>

  <div class="responsive-table">
    <table class="table table--fixed table--selectable">
      <thead>
        <tr>
          <th class="sortable" (click)="sortByName()">Name <span class="sort-indicator icon-chevron-down"></span></th>
          <th class="sortable" (click)="sortByID()">ID <span class="sort-indicator icon-chevron-down"></span></th>
          <th>SVI</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="toggleActive(vlan)" *ngFor="let vlan of fakeVlans" [ngClass]="{'active': vlan.active }">
          <td>{{ vlan.name }}</td>
          <td>{{ vlan.id }}</td>
          <td>{{ vlan.svi }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>