<div class="ntp-wrapper">
  <div class="ntp-controls">
    <div class="ntp-controls-item">
      <button class="btn btn--icon btn--small btn--success"><span class="icon-plus"></span></button>
    </div>
    <div class="ntp-controls-item">
      <button class="btn btn--icon btn--small btn--primary"><span class="icon-pencil"></span></button>
    </div>
    <div class="ntp-controls-item">
        <button class="btn btn--icon btn--small btn--negative"><span class="icon-remove"></span></button>
      </div>
  </div>

  <div class="responsive-table">
    <table class="table table--fixed table--selectable">
      <thead>
        <tr>
          <th class="sortable" (click)="sortByName()">Hostname/IP <span class="sort-indicator icon-chevron-down"></span></th>
          <th>Preferred</th>
          <th>Management EPG</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="toggleActive(ntp)" *ngFor="let ntp of fakeNTPs" [ngClass]="{'active': ntp.active }">
          <td>{{ ntp.name }}</td>
          <td>
            <span class="icon-check icon-small" *ngIf="ntp.pref"></span>
            <span class="icon-close icon-small" *ngIf="!ntp.pref"></span>
          </td>
          <td>{{ ntp.epg }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
