<div class="container" style="margin-top: 25px;">
  <div class="col-md-12">
    <div class="subheader text-center">ACI Quick Start</div>
    <div class="ui-steps ui-steps--tiny ui-steps--success">
      <div class="ui-step" [ngClass]="{'active': wizardStep == 1, 'visited': wizardStep > 1}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 1" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 1">1</ng-container>
        </div>
        <div class="step__label">Out-of-Band</div>
      </div>
      <div class="ui-step" [ngClass]="{'active': wizardStep == 2, 'visited': wizardStep > 2}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 2" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 2">2</ng-container>
        </div>
        <div class="step__label">In-Band</div>
      </div>
      <div class="ui-step" [ngClass]="{'active': wizardStep == 3, 'visited': wizardStep > 3}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 3" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 3">3</ng-container>
        </div>
        <div class="step__label">Connectivity</div>
      </div>
      <div class="ui-step" [ngClass]="{'active': wizardStep == 4, 'visited': wizardStep > 4}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 4" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 4">4</ng-container>
        </div>
        <div class="step__label">Global Config</div>
      </div>
      <div class="ui-step" [ngClass]="{'active': wizardStep == 5, 'visited': wizardStep > 5}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 5" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 5">5</ng-container>
        </div>
        <div class="step__label">Default Objects</div>
      </div>
      <div class="ui-step" [ngClass]="{'active': wizardStep == 6, 'visited': wizardStep > 6}">
        <div class="step__icon">
          <span *ngIf="wizardStep > 6" class="icon-check"></span>
          <ng-container *ngIf="wizardStep == 6">6</ng-container>
        </div>
        <div class="step__label">L3Out</div>
      </div>
    </div>
  </div>

  <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">
    <app-wizard-oob-mgmt formControlName="oobMgmt" *ngIf="wizardStep == 1"></app-wizard-oob-mgmt>
    <app-wizard-ib-mgmt formControlName="ibMgmt" *ngIf="wizardStep == 2"></app-wizard-ib-mgmt>
    <!-- <app-wizard-ntp-config formControlName="ntp" *ngIf="wizardStep == 3"></app-wizard-ntp-config> -->
    <app-wizard-dns-config formControlName="dns" *ngIf="wizardStep == 4"></app-wizard-dns-config>

    <div class="row justify-content-md-center" style="margin-top: 25px;">
      <div class="col-md-2" *ngIf="wizardStep > 1">
        <div class="form-group" style="align-items: center;">
          <button class="btn btn--small btn--secondary" (click)="prevStep($event);">❮ Back</button>
        </div>
      </div>
      <div class="col-md-2" *ngIf="wizardStep < 6">
        <div class="form-group" style="align-items: center;">
          <button class="btn btn--small btn--secondary" (click)="nextStep($event);">Next ❯</button>
        </div>
      </div>
      <div class="col-md-2" *ngIf="wizardStep == 6">
        <div class="form-group" style="align-items: center;">
          <button type="submit" [disabled]="!wizardForm.valid" class="btn btn--small btn--primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
