<div class="component-wrapper">

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small">
        <!-- TOP LEFT PANEL CONTENTS -->
      </div>
    </div>

    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">
        <!-- TOP RIGHT PANEL CONTENTS -->
      </div>
    </div>
  </div>

  <div class="dual-panel h-50">
    <div class="half-panel panel-left h-100">
      <div class="panel panel--raised-small">
        <!-- BOTTOM LEFT PANEL CONTENTS -->
      </div>
    </div>
    <div class="half-panel panel-right h-100">
      <div class="panel panel--raised-small">
        <!-- BOTTOM RIGHT PANEL CONTENTS -->
      </div>
    </div>
  </div>

</div>
