<div class="panel-container">
  <div class="panel-wrapper">
    <div class="full-panel h-10">
      <div class="panel panel--raised-small">

        <div class="header-wrapper">
          <div class="wizard-header-blank">
            &nbsp;
          </div>
          <div class="wizard-header-title">
            {{ currentStep.title }}
          </div>
          <div class="wizard-header-info">
            <span class="icon-info-outline icon-small" style="color: #017CAD" (click)="toggleModal()"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="full-panel h-30">
      <div class="panel panel--raised-small">
        <div class="switch-wrapper">

          <ng-container>
            <div class="select-message" *ngIf="renderLeaves.id == -1 && renderLeaves['nodes'].length == 0">
              Please Select a Single Switch/VPC to Configure
            </div>
          </ng-container>

          <ng-container *ngIf="renderLeaves.id != -1">
            <div>VPC Domain {{ renderLeaves.id }}</div>
            <div class="switch-vpc-outline">
              <ng-container *ngFor="let leaf of renderLeaves.nodes; let i = index">
                <div class="switch-container">
                  {{ leaf.name }} ({{ leaf.serial }})
                  <br>
                  <div class="switch-outline">
                    <ng-container *ngFor="let slot of fb.getSlots(leaf.id); let lastSlot = last; let j = index">
                      <ng-container *ngFor="let row of fb.getRows(leaf.id, slot); let firstRow = first; let lastRow = last; let k = index">
                        <div class="switch-row">
                          <ng-container *ngFor="let interface of fb.getRow(leaf.id, slot, row)">
                            <div class="svg-{{ interface.type }}" dataBalloon dataBalloonProperty="{{ interface.name }}" dataBalloonPos="{{ interface.dir }}">
                              <img (click)="portClick(leaf.id, interface.name);" src="../../assets/svg/{{ interface.type }}.svg" />
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                      <div class="slot-divider" *ngIf="!firstSlot && !lastSlot">
                        <hr>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngIf="renderLeaves.id == -1">
            <ng-container *ngFor="let leaf of renderLeaves.nodes; let i = index">
              <div class="switch-container">
                {{ leaf.name }} ({{ leaf.serial }})
                <br>
                <div class="switch-outline">
                  <ng-container *ngFor="let slot of fb.getSlots(leaf.id); let lastSlot = last; let j = index">
                    <ng-container *ngFor="let row of fb.getRows(leaf.id, slot); let firstRow = first; let lastRow = last; let k = index">
                      <div class="switch-row">
                        <ng-container *ngFor="let interface of fb.getRow(leaf.id, slot, row)">
                          <div class="svg-{{ interface.type }}" dataBalloon dataBalloonProperty="{{ interface.name }}" dataBalloonPos="{{ interface.dir }}">
                            <img (click)="portClick(leaf.id, interface.name);" src="../../assets/svg/{{ interface.type }}.svg" />
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                    <div class="slot-divider" *ngIf="!firstSlot && !lastSlot">
                      <hr>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="dual-panel h-40">
      <div class="half-panel panel-left h-100">
        <div class="panel panel--raised-small">

          <div class="ntp-wrapper">
            <div class="ntp-controls">
              <div class="ntp-controls-title">
                <span>Leaf Switches</span>
              </div>
              <div class="ntp-controls-item">
                <span (click)="createVPC()" class="icon-link icon-small"></span>
              </div>
            </div>
          
            <div class="table-wrapper">
              <div class="responsive-table">
                <table class="table table--fixed table--selectable">
                  <thead>
                    <tr>
                      <th class="sortable" (click)="sortByName()">Name <span class="sort-indicator icon-chevron-down"></span></th>
                      <th>Serial</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="toggleSwitch(leaf)" *ngFor="let leaf of tempLeaves" [ngClass]="{'active': leaf.active }">
                      <td>{{ leaf.name }}</td>
                      <td>{{ leaf.serial }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="half-panel panel-right h-100">
        <div class="panel panel--raised-small">

          <div class="ntp-wrapper">
            <div class="ntp-controls">
              <div class="ntp-controls-title">
                <span>VPCs</span>
              </div>
              <div class="ntp-controls-item">
                <span (click)="deleteVPC()" class="icon-link-broken icon-small"></span>
              </div>
            </div>
          
            <div class="table-wrapper">
              <div class="responsive-table">
                <table class="table table--fixed table--selectable">
                  <thead>
                    <tr>
                      <th class="sortable" (click)="sortDummy();">Switch Pair <span class="sort-indicator icon-chevron-down"></span></th>
                      <th>VPC ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="toggleVPC(vpc)" *ngFor="let vpc of tempVPCs" [ngClass]="{'active': vpc.active }">
                      <td>{{ vpc.a.id }}/{{ vpc.b.id }}</td>
                      <td>{{ vpc.id }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="full-panel h-20">
      <div class="panel panel--raised-small">

        <div class="nav-wrapper">
          <div class="wizard-progress">
            <div class="progressbar" dataGuage dataGuagePercentage="{{ percentComplete }}" style="margin: 0;">
              <div class="progressbar__fill" style="background-color: #64bbe3;;"></div>
              <div class="progressbar__label"></div>
            </div>
          </div>
          <div class="wizard-nav">
            <button class="btn btn--icon btn--primary" (click)="prevStep()" [ngClass]="{ 'disabled': (percentComplete <= 0) }"><span class="icon-chevron-left"></span></button>
            <button class="btn btn--icon btn--success" (click)="submitChild();"><span class="icon-check"></span></button>
            <button class="btn btn--icon btn--primary" (click)="nextStep()" [ngClass]="{ 'disabled': (percentComplete >= 100) }"><span class="icon-chevron-right"></span></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal modal--small" [ngClass]="{'hide': !infoModal }">
  <div class="modal__dialog">
    <div class="modal__content" style="transform: translateY(60%); border: #dfdfdf 1px solid;">
      <a class="modal__close" (click)="toggleModal();"><span class="icon-close icon-medium"></span></a>
        <div class="modal__header">
          <h1 class="modal__title">VPC Configuration</h1>
        </div>
        <div class="modal__body">
          <p class="subtitle">Important details about the settings in this wizard step.</p>
        </div>
        <div class="modal__footer">
          <button class="btn" (click)="toggleModal();">Cancel</button>
        </div>
    </div>
  </div>
</div>

<div class="modal modal--small" [ngClass]="{'hide': !vlanModal }">
  <div class="modal__dialog">
    <div class="modal__content" style="transform: translateY(60%); border: #dfdfdf 1px solid;">
      <a class="modal__close" (click)="cancelVlan();"><span class="icon-close icon-medium"></span></a>

      <form [formGroup]="vlanForm" (ngSubmit)="onSubmit()">
        <div class="modal__header">
          <h1 class="modal__title" style="font-size: 40px;">VLAN Configuration</h1>
        </div>
        <div class="modal__body">
          <div class="form-group dropdown input--compressed" style="width: 40%; margin: auto;" [ngClass]="{'active': vlanDrop }">
            <div class="form-group__text select" (click)="toggleVlan();">
              <input id="select-size-compressed" style="border-top: unset; border-left: unset; border-right: unset; text-align: center;" value="{{ vlanForm.get('vlan').value }}">
              <label for="select-size-compressed" style="text-align: center;">VLAN</label>
            </div>
            <div class="dropdown__menu">
              <a (click)="setVlan(1);">VLAN 1</a>
              <a (click)="setVlan(2);">VLAN 2</a>
              <a (click)="setVlan(3);">VLAN 3</a>
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <button type="submit" class="btn btn--success" (click)="onSubmit();">Apply</button>
          <button type="button" class="btn btn--negative" (click)="cancelVlan();">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>
