.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.panel-container {
  height: calc(100vh - 55px);
  padding: 10px 20px;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%
}

.dual-panel {
  display: flex;
  flex-direction: row;
}

.full-panel {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.half-panel {
  display: flex;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-right {
  padding-left: 10px;
}

.panel-left {
  padding-right: 10px;
}

.panel {
  display: flex;
  width: 100%;
  height: 100%;
}

.ntp-wrapper {
  display: flex;
  flex-direction: column;
}

.ntp-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ntp-controls-title {
  font-weight: bold;
  font-style: italic;
  color: #017CAD;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
}

.ntp-controls-item {
  padding-right: 5px;
  padding-left: 5px;
}

.ntp-controls-item > a {
  text-decoration: none;
}

.table-wrapper {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.responsive-table {
  overflow: unset;
  display: flex;
}

thead th {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.wizard-header-blank {
  width: 20px;
  margin-left: 5px;
}

.wizard-header-title {
  font-size: 16px;
  font-weight: bold;
}

.wizard-header-info {
  width: 20px;
  margin-right: 5px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.wizard-progress {
  padding: 10px;
}

.wizard-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

// SWITCH RENDERING //

.select-message {
  font-weight: bold;
  font-size: 16px;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.switch-vpc-outline {
  overflow: visible;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 2px solid darkgray;
  padding: 10px 5px; 
  min-width: 20px;
}

.switch-container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-align: center;
  padding: 0px 5px;
}

.switch-outline {
  overflow: visible;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid darkgray;
  padding: 5px; 
  min-width: 20px;
}

.switch-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.slot-divider {
  width: 100%
}

.slot-divider > hr {
  margin: 5px 0px !important;
}

.svg-rj45 {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 12px;
}

.svg-sfp {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 12px;
}

.svg-sfp-blank {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 12px;
}

.svg-usb {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 12px;
}

.svg-qsfp {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 24px;
}

.svg-qsfp-blank {
  overflow: visible;
  margin: 2px;
  float: left;
  height: 12px;
  width: 24px;
}

//////////////////////
