<br>
<br>
<br>

<div class="switch-container">
  <ng-container *ngFor="let switch of fabricBuilder.getLeaves(); let firstSwitch = first; let lastSwitch = last; let i = index">
    {{ switch.name }} ({{ switch.serial }})
    <br>
    <div class="switch-outline">
      <ng-container *ngFor="let slot of getSlots(switch.config); let lastSlot = last; let j = index">
        <ng-container *ngFor="let row of getRows(switch.config, slot); let firstRow = first; let lastRow = last; let k = index">
          <br *ngIf="!firstRow">
          <ng-container *ngFor="let interface of getRow(switch.config, slot, row)">
            <div class="svg-{{ interface.type }}" dataBalloon dataBalloonProperty="{{interface.name}}" dataBalloonPos="{{interface.dir}}">
              <img src="../../assets/svg/{{ interface.type }}.svg" />
            </div>
          </ng-container>
        </ng-container>
        <br *ngIf="!lastSlot">
        <hr *ngIf="!firstSlot && !lastSlot">
      </ng-container>
    </div>
    <br *ngIf="!lastSwitch">
    <br *ngIf="!lastSwitch">
  </ng-container>
</div>
