.oob-input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #9e9ea2;
}

.oob-table {
  width: auto;
  margin: auto;
}

input {
  text-align: center;
}

input:focus {
  outline: none;
}

.oob-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.oob-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
