<div class="component-container">
  <div class="component-wrapper">
    <div class="full-panel h-10">
      <div class="panel panel--raised-small">

        <div class="header-wrapper">
          <div class="component-header-blank">
            &nbsp;
          </div>
          <div class="component-header-title">
            {{ currentStep.title }}
          </div>
          <div class="component-header-info">
            <span class="icon-info-outline icon-small" style="color: #017CAD" (click)="toggleModal()"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="panel-wrapper">
      <div style="width: 100%; height: 100%">
        <ng-template #dynamicContainer></ng-template>
      </div>
    </div>

    <div class="full-panel h-20">
      <div class="panel panel--raised-small">

        <div class="nav-wrapper">
          <div class="component-progress">
            <div class="divider divider--thicker"></div>
          </div>
          <div class="component-nav">
            <button class="btn btn--success">Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal modal--small" [ngClass]="{'hide': !modalOpen }">
  <div class="modal__dialog">
    <div class="modal__content" style="transform: translateY(60%); border: #dfdfdf 1px solid;">
      <a class="modal__close" (click)="toggleModal()"><span class="icon-close icon-medium"></span></a>
      <div class="modal__header">
        <h1 class="modal__title">{{ currentStep.title }}</h1>
      </div>
      <div class="modal__body">
        <p class="subtitle">{{ currentStep.help }}</p>
      </div>
      <div class="modal__footer">
        <button class="btn" (click)="toggleModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
