<div class="component-wrapper">

  <div class="full-panel h-100">
    <div class="panel panel--raised-small">

      <div class="global-wrapper">
        <form class="global-form" [formGroup]="globalForm" (ngSubmit)="onSubmit()">
          
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">BGP Autonomous System Number</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <div class="form-group input--compressed">
                <div class="form-group__text">
                  <input formControlName="bgp_asn" id="input-size-compressed" type="text" value="65001">
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">Subnet Check (Disable IP Address Learning)</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="subnet_check" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">Domain Validation (Enforce Validation of Static Path)</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="domain_validation" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">IS-IS Redistribution of Routes</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="isis_redist" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">IP Aging Administrative State</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="ip_aging" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">Rouge EP Control</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="rouge_ep" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>
          <div class="row" style="width: 100%; padding: 10px;">
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
              <div class="text-right" style="display: flex;">COOP Group Policy</div>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label class="switch">
                <input formControlName="coop_group" type="checkbox" checked>
                <span class="switch__input"></span>
              </label>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
